main {
    margin: 85px 0 0 0;
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 55px - 10px);
    min-height: calc(100vh - 55px - 10px);
    box-sizing: border-box;

}

a {
    color: black;
}

.main-container {
    width: 72vw;
}

.basic-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    justify-content: left;
    align-items: center;
}

.logo_medium {
    width: 125px;
    height: 125px;
    border-radius: 15px;
}

.basic-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grey-text {
    color: rgb(174 174 174);

}


.bold {
    font-size: 4em;
    font-weight: bold;
}

.contact {
    padding: 10px;
    background-color: #e3e5ed;
    color: #000000;
    border-radius: 15px;
    text-decoration: none;
    width: fit-content;
    block-size: fit-content;
    font-weight: bold;
    transition: 500ms;
}

.no_bg {
    border: none;
    /* outline: none; */
    /* height: 100%; */
    font-size: 16px;
}

.contact:hover {
    color: #303336;
    background-color: #d1d4e0;
    transition: 500ms;
}

#contacnts {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 95px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.order {
    padding: 10px;
    background-color: #ffdc60;
    color: #303336;
    border-radius: 15px;
    text-decoration: none;

    font-weight: bold;
    width: fit-content;
    block-size: fit-content;
    border: 2px solid transparent;
}

.order:hover {
    color: #303336;
    background-color: #ffd438fb;
    border: 2px solid #b2921ffb
}

.dim_filter {
    background-color: rgba(169, 169, 169, 0.452);
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
}

.btn-false {
    background-color: transparent;
    border: none;
}

.timetable {
    position: fixed;
    top: 35vh;
    left: 30vw;
    z-index: 11;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 32vw;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 15px;
}

.days {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.day {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: end;
    justify-content: space-evenly;
}

.line {
    position: absolute;
    height: 0.12px;
    left: -1px;
    width: calc(32vw + 15px);
    border: 0.25px solid rgb(183, 183, 183);
}

.dot-line {
    height: 0.12px;
    width: 17vw;
    border: 0.25px dashed grey;
}

.red-colored {
    color: red;
}

#about-us {
    width: 32vw;
}

.points {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.star-component {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.star-component:hover {
    background-color: rgb(236, 236, 236);
    transition: 0.5s;
    border-radius: 15px;
}

.pricelists {
    position: relative;
    background-color: #e3e5ed;
    border-radius: 15px;
    width: 12.5vw;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.points {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 15;
    /* top: 0px; */
    top: 200px;
    right: 0;
}

.smaller {
    width: 150px;
}

.liner {
    position: relative;
    height: 0px;
    width: 270px;

    border: 0.25px solid rgb(183, 183, 183);
}

.isOpened {
    background-color: rgb(247, 247, 247);
    border-radius: 15px;
}

.sdek {
    width: 100px;
}

.delivery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.contacts_icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 95px;
    background-color: lightgrey;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 15px;
}

.hidden {
    animation: vanish-out 0.5s forwards;
}

.created {
    animation: bounce-in 0.5s;
}

@keyframes vanish-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    70% {
        opacity: 1;
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1650px) {

    .contacts_icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 285px;
        background-color: #e3e5ed;
        padding-left: 15px;
        padding-right: 5px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 1480px) {
    .bold {
        font-size: 3em;
    }

    #contacnts {
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        height: fit-content;
        width: 100%;
    }

    .no_bg {
        border: none;
        /* outline: none; */
        height: 100%;
        width: 100%;
    }

    .order {
        text-align: center;
        padding: 10px;
        background-color: #ffdc60;
        color: #303336;
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        width: 96%;
        block-size: fit-content;
        border: 2px solid transparent;
    }

}

@media screen and (max-width: 1032px) {


    .contact {
        text-align: center;
        padding: 10px;
        background-color: #e3e5ed;
        color: #000000;
        border-radius: 15px;
        text-decoration: none;
        width: 97%;
        block-size: fit-content;
        font-weight: bold;
        transition: 500ms;
    }





    .timetable {
        position: fixed;
        top: 35vh;
        left: 30vw;
        z-index: 11;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        width: 45vw;
        padding-left: 15px;
        padding-top: 1px;
        padding-bottom: 15px;
    }

    .days {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .day {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: end;
        justify-content: space-evenly;
    }

    .line {
        position: absolute;
        height: 0.12px;
        left: -1px;
        width: calc(45vw + 15px);
        border: 0.25px solid rgb(183, 183, 183);
    }

    .dot-line {
        height: 0.12px;
        width: 17vw;
        border: 0.25px dashed grey;
    }
}

@media screen and (max-width: 900px) {
    .points {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        gap: 15px;
    }

    #about-us {
        width: 65vw;
    }

    #contacnts {
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact {
        text-align: center;
        padding: 10px;
        background-color: #e3e5ed;
        color: #000000;
        border-radius: 15px;
        text-decoration: none;
        width: 96%;
        block-size: fit-content;
        font-weight: bold;
        transition: 500ms;
    }

    .no_bg {
        border: none;
        /* outline: none; */
        height: 100%;
        width: 100%;
    }

    .order {
        text-align: center;
        padding: 10px;
        background-color: #ffdc60;
        color: #303336;
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        width: 97%;
        block-size: fit-content;
        border: 2px solid transparent;
    }
}


@media screen and (max-width: 900px) {

    .timetable {
        position: fixed;
        top: 35vh;
        left: 15vw;
        z-index: 11;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        width: 70vw;
        padding-left: 15px;
        padding-top: 1px;
        padding-bottom: 15px;
    }

    .days {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .day {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: end;
        justify-content: space-evenly;
    }

    .line {
        position: absolute;
        height: 0.12px;
        left: -1px;
        width: calc(70vw + 15px);
        border: 0.25px solid rgb(183, 183, 183);
    }

    .dot-line {
        height: 0.12px;
        width: 17vw;
        border: 0.25px dashed grey;
    }
}

@media screen and (max-width: 900px) {
    .basic-info {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contacts_icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 95%;
        background-color: #e3e5ed;
        padding-left: 15px;
        padding-right: 5px;
        border-radius: 15px;
    }

    #contacnts {
        margin: 0 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

}